sc/
p4est/
build/

.deps/
.libs/

libtool
config.log
config.status

Doxyfile
doxygen/

CMakeCache.txt
CMakeFiles/
version.txt
Testing/

*.o
*.lo
*.la
*.dirstamp
*.log
*.trs
*.vtu
*.pvtu
*~
*.brep
*.msh
