p4est/
sc/
build-aux/
config/
.deps/

Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
Doxyfile
Makefile.t8.pre
Makefile.t8.mk
config.log
config.status
libtool
src/pre_config.h.in
src/pre_config.h
src/stamp-h1
src/t8_config.h
*.o
*.lo
*.la
*.dirstamp
.libs/

# ------------------------------------------------------------ #
# Following list of files can be easily generated with:
# $ git status --porcelain | grep '^??' | cut -c4- >> .gitignore

benchmarks/ExtremeScaling/t8_bunny
benchmarks/t8_time_forest_partition
benchmarks/t8_time_partition
benchmarks/t8_time_prism_adapt
example/IO/cmesh/gmsh/t8_load_and_refine_square_w_hole
example/IO/cmesh/gmsh/t8_read_msh_file
example/IO/cmesh/t8_cmesh_load_save
example/IO/cmesh/tetgen/t8_forest_tetgen
example/IO/cmesh/tetgen/t8_read_tetgen
example/IO/cmesh/tetgen/t8_time_tetgen
example/IO/cmesh/triangle/t8_read_triangle
example/IO/forest/netcdf/t8_netcdf_compilation_status
example/advect/t8_advection
example/cmesh/t8_cmesh_create_partitioned
example/cmesh/t8_cmesh_partition
example/cmesh/t8_cmesh_refine
example/forest/t8_face_neighbor
example/forest/t8_test_face_iterate
example/forest/t8_test_ghost
example/forest/t8_test_ghost_large_level_diff
example/geometry/t8_example_geometries
example/version/t8_version
tutorials/t8_step0_helloworld
tutorials/t8_step1_coarsemesh
tutorials/t8_step2_uniform_forest
tutorials/t8_step3_adapt_forest
tutorials/t8_step4_partition_balance_ghost
tutorials/t8_step5_element_data
tutorials/t8_tutorial_search
