##DO NOT MERGE
.vscode/
.cache/
tutorials/general_with_adaptions/
compile_commands.json


sc/
p4est/
build/

.deps/
.libs/

libtool
config.log
config.status

Doxyfile
doxygen/

CMakeCache.txt
CMakeFiles/
version.txt
Testing/

*.o
*.lo
*.la
*.dirstamp
*.log
*.trs
*.vtu
*.pvtu
*~

# ------------------------------------------------------------ #
# Following list of files can be easily generated with:
# $ git status --porcelain | grep '^??' | cut -c4- >> .gitignore

benchmarks/t8_time_forest_partition
benchmarks/t8_time_partition
benchmarks/t8_time_prism_adapt
example/IO/cmesh/gmsh/t8_load_and_refine_square_w_hole
example/IO/cmesh/gmsh/t8_read_msh_file
example/IO/cmesh/t8_cmesh_load_save
example/IO/cmesh/tetgen/t8_forest_tetgen
example/IO/cmesh/tetgen/t8_read_tetgen
example/IO/cmesh/tetgen/t8_time_tetgen
example/IO/cmesh/triangle/t8_read_triangle
example/IO/forest/netcdf/t8_netcdf_compilation_status
example/advect/t8_advection
example/cmesh/t8_cmesh_create_partitioned
example/cmesh/t8_cmesh_partition
example/forest/t8_face_neighbor
example/forest/t8_test_face_iterate
example/forest/t8_test_ghost
example/forest/t8_test_ghost_large_level_diff
example/geometry/t8_example_geometries
example/version/t8_version
tutorials/t8_step0_helloworld
tutorials/t8_step1_coarsemesh
tutorials/t8_step2_uniform_forest
tutorials/t8_step3_adapt_forest
tutorials/t8_step4_partition_balance_ghost
tutorials/t8_step5_element_data
tutorials/t8_tutorial_search
test/t8_cmesh/t8_test_cmesh_copy
test/t8_cmesh/t8_test_cmesh_face_is_boundary
test/t8_cmesh/t8_test_cmesh_partition
test/t8_cmesh/t8_test_cmesh_readmshfile
test/t8_cmesh/t8_test_hypercube
test/t8_data/t8_test_shmem
test/t8_forest/t8_test_find_owner
test/t8_forest/t8_test_forest_commit
test/t8_forest/t8_test_ghost_and_owner
test/t8_forest/t8_test_ghost_exchange
test/t8_forest/t8_test_half_neighbors
test/t8_forest/t8_test_search
test/t8_forest/t8_test_transform
test/t8_forest/t8_test_user_data
test/t8_geometry/t8_test_geometry
test/t8_geometry/t8_test_point_inside
test/t8_gtest_main
test/t8_schemes/t8_test_descendant
test/t8_schemes/t8_test_element_count_leaves
test/t8_schemes/t8_test_find_parent
test/t8_schemes/t8_test_init_linear_id
test/t8_schemes/t8_test_pyra_face_descendant
test/t8_schemes/t8_test_pyra_face_neigh
test/t8_schemes/t8_test_successor
test/t8_test_netcdf_linkage
test/t8_test_vtk_linkage
