name: Create a new version tag

on:
    pull_request:
    workflow_dispatch:
    schedule:
        # trigger at 0:00 on the first day of each month
        - cron: '0 0 1 * *'

jobs:
    monthly_release:
        runs-on: ubuntu-latest
        steps:
            #checkout main branch
            - name: Checkout code
              uses: actions/checkout@v6
              with:
                  token: ${{ secrets.T8DDY_TOKEN }}
                  fetch-depth: 0
                  ref: main
            # Create version name accessible in the following steps
            - name: Set version name
              run: echo "VERSION_NAME=v4.0.0-$(date +'%Y.%m.%d')" >> $GITHUB_ENV
            #create a new branch for the version tag
            - name: Create version tag
              run: |
                  git checkout -b new_version_${{ env.VERSION_NAME }}
                  git config user.email "t8ddy.bot@gmail.com"
                  git config user.name "t8ddy"
                  git tag "${{ env.VERSION_NAME }}"
                  git push --tags --set-upstream origin new_version_${{ env.VERSION_NAME }}

            # Create a PR for the new version tag
            - name: Create Pull Request
              uses: peter-evans/create-pull-request@v5
              with:
                  commit-message: "Create new version tag ${{ env.VERSION_NAME }}"
                  title: "Create new version tag ${{ env.VERSION_NAME }}"
                  body: "This PR creates a new version tag ${{ env.VERSION_NAME }} for the quarterly release."
                  base: main
                  branch: new_version_${{ env.VERSION_NAME }}